<div class="container mt-3">
  <div class="row">
    <div class="card col s12" style="border-radius : 0 6em 0 6em">
          <div class="card-content">
            <%= form_tag post_path(@post), method: "patch", multipart: true do %>
            <input type="hidden" name="id" value="<%= @post.id%>">
            <!--숨겨서 값을 전달-->
              <div class="input-field">
                <%= text_area_tag :title, @post.title, class: "materialize-textarea", placeholder: "제목을 적어주세요" %>
              </div>
              
              <div class="input-field">
                <%= text_area_tag :content, @post.content, class: "materialize-textarea", placeholder: "무슨 생각을 하고 있나요?" %>
              </div>
              
              <div class="input-field">
                <!--<input type="file" name="image"> <br>-->
                <%= file_field_tag :image %>
              </div>
              
    
              <div class="input-field">
                <center><%= button_tag "수정하기", class: "btn" %></center>
              </div>
            <% end %>
      </div>
    </div>
  </div>
</div>